.App {
  text-align: center;
}

.App-header {
  background-image: url('./assets/images/bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: auto;
}

.App-search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 80vh;
}

.App-search-content {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.App-search-content input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
}

.App-search-content small {
  text-align: left;
}

.App-images-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 50px 0;
  background-color: #e0e0e0;
}

.App-images-search {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 0;
}

.col-images {
  display: flex;
  flex-direction: column;
  min-width: 33.33%;
}

.col-images a {
  padding: 0 10px;
}


@media (max-width: 650px) {
  .App-search-content {
    align-items: center;
    width: 80%;
    margin: 0 10%;
  }

  .App-search-content input {
    width: 100%;
  }

  .App-search {
    width: 80%;
    padding: 0 10%;
  }

  .App-images-search .col-images a {
    margin: 15px 0;
  }

  .App-images-search .col-images img {
    width: 90%;
  }

  .col-images a {
    padding: 0;
  }
}